<!doctype html>	
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My app </title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
		<h1>Anonymous BlogPosts</h1>
		<ul>
			<% for(var i = 0; i < items.length; i++ ) { %>
			<li><%= items[i].name + "-" + items[i].comment%> </li>
			<% }%>
		</ul>
        <br />

		<form action="/get-data" method="get">
			<input typ="submit">
		</form>

		<form action="/add" method="post">
			<div class="input">
				<h3>Enter Name (Optional)</h3>
				<input type="text" name="name">
			</div>
			<div class="input">
				<h3>Enter Comment</h3>
				<input type="text" name="comment">
			</div>
			<input type="submit">
		</form>
	</div>

    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>